* {
	margin: 0;
	padding: 0;
}

a {
	// 拿掉預設顏色
	text-decoration: none;
	color: #7e1d00;
}

ul {
	list-style: none;
} 

body {
	background-color: #fffce0;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	line-height: 1.6;
    color: #333;
    
}