<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar bg-dark">
        <h1>
            <a href="#">F.Y.S.</a>
        </h1>
        <ul>
            <li><a href="/home">home</a></li>
            <li><a href="cake.html">cake</a></li>
            <li><a href="coffee.html">coffee</a></li>
            <li><a href="dessert.html">dessert</a></li>
        </ul>
    </nav>
    <section class="landing">
        <div class="land">
            <div class="content">
                <div class="detail">
                    <span >Welcome to F.Y.S. store</span>
                    <br/>
                    <!-- <w>_____________________________________________</w> -->
                    <br/>
                    <br/>
                    <p>I’m a website & graphic designer. 
                        <br/>Welcome to my wonderland!</p>
                        <br/>
                    <a href="#1">Product catalogue</a>
                </div>
        </div>
            <div class="picture">
                <img src="./img/Frame 4.png" alt="">
                <div class="phto-bg"></div>
            </div>     
      </section>
    <section class="alling" id="1"> 
        <div class="all">
        <h1>
            Overview
        </h1>
        </div>
        <div>
            <a class="coffee" href="coffee.html">
                <img src="./img/未命名的作品 4.png" alt="">
                    <span>Coffee</span>
                    <p>I’m a website & graphic designer. 
                        <br/>Welcome to my wonderland!</p>
               
            </a>
            <a class="cake" href="cake.html">
                <img src="./img/未命名的作品 2.png" alt="">
                <span>Cake</span>
                <p>I’m a website & graphic designer. 
                    <br/>Welcome to my wonderland!</p>
            </a>
            <a class="dessert" href="dessert.html">
                <img src="./img/未命名的作品 3.png" alt="">
                <span>Dessert</span>

                <p>I’m a website & graphic designer. 
                    <br/>Welcome to my wonderland!</p>
            </a>
            
        </div>
    </section>

    
     

</body>
</html>